<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to MySQL</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <div class="flex-container">
        <div class="container">
            <h1>The list</h1>
            <p>
                There are currently <%=data%> users online. We can add more:
            </p>

            <form method="POST" action="/register">
                <input type="text" name="email" class="form" placeholder="Enter your email:"/>
                <button>Join here</button>
            </form>
        </div>
    </div>
</body>
</html>