---
---
nav {
  left: 50%;
  bottom: 0;
  overflow-y: auto;
}

footer {
  right: 50%;
  left: unset;
  margin-right:-530px;
  margin-left: unset;
  top:220px;
  text-align: left;
}
@import "{{ site.theme }}";